@using warehouseCMS.Data
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div style="float:left; width:70%">
        <div style="float:left;width:49%;text-align:left;margin-right:5px;padding:2px;" class="obj01 backbox">
            <span style="font-weight: bold;">Thống kê công nợ</span>
            <div style="background-color:#fff; padding:2px;">
                <div style="font-weight: bold;">Nhập kho</div>
                <table border=0 width="100%">
                    <tr><td>Số lượng: 100</td><td>Giá trị: 50.000.000</td><td>Nợ: 15.000.000</td><td><a>Chi tiết</a></td></tr>
                </table>
                <div style="font-weight: bold;">Xuất kho</div>
                <table border=0 width="100%">
                    <tr><td>Số lượng: 80</td><td>Giá trị: 40.000.000</td><td>Nợ: 10.000.000</td><td><a>Chi tiết</a></td></tr>
                </table>
                <div style="font-weight: bold;">Tổng kết</div>
                <table border=0 width="100%">
                    <tr><td>Lợi nhuận:</td><td style="font-weight: bold;background-color:#8bc36a">10.000.000</td><td>Nợ:</td><td style="font-weight: bold;background-color:#dc3545;color:#fff;">5.000.000</td></tr>
                </table> 
            </div>
        </div>
        <div style="float:left;width:50%"><!--Tỷ lệ giao dịch theo tháng -->
            <div id="chart_div" ></div>  
            <script type="text/javascript">  
            
                google.charts.load('current', {  
                    packages: ['corechart', 'bar']  
                });  
                google.charts.setOnLoadCallback(LoadData);  
            
                function LoadData() {  
                    $.ajax({  
            
                        url: 'WareHouse/PopulationChart',  
                        dataType: "json",  
                        type: "GET",  
                        error: function(xhr, status, error) {  
                            var err = eval("(" + xhr.responseText + ")");  
                            alert(err.message);
                            toastr.error(err.message);  
                        },  
                        success: function(data) {  
                            PopulationChart(data);  
                            //alert(JSON.stringify(data));
                            return false;  
                        }  
                    });  
                    return false;  
                }  
            
                function PopulationChart(data) {  
                    var dataArray = [  
                        ['Month', 'abc', 'abc2']  
                    ];  
                    $.each(data, function(i, item) {  
                        
                        dataArray.push([item.month, item.ouput, item.input]);  
                    });  
                    var data = google.visualization.arrayToDataTable(dataArray);  
                    var options = {  
                        title: 'Tỷ lệ giao dịch phát sinh qua từng tháng',  
                        chartArea: {  
                            width: '100%'  
                        },  
                        colors: ['#b0120a', '#7b1fa2'],  
                        hAxis: {  
                            title: 'Month',  
                            minValue: 0  
                        },  
                        vAxis: {  
                            title: 'Số lượng giao dịch'  
                        }  
                    };  
                    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));  
            
                    chart.draw(data, options);  
                    return false;  
                }  
            </script>  
        </div><!-- biểu đồ cột theo tháng, mỗi tháng có 2 cột nhập/xuất -->
        <div style="clear:left;text-align:left;height: 1px;">&nbsp;</div>
        <div style="clear:left;text-align:left;margin-top:10px;padding:2px;" class="obj03 backbox">
            <div style="font-weight: bold;">
            Các giao dịch được lập gần đây nhất
            </div>
            @{
                var trans = ViewData["Transactions"] as DbFetchOutData;
                var trandata = trans.Data;
            }
            <div style="background-color:#fff; padding:2px;">
                <table border=1 width="100%">
                    <tr><td style="background-color:#bebebe;border:1px outset #808080;">Mã hóa đơn</td><td style="background-color:#bebebe;border:1px outset #808080;">Sản phẩm</td><td style="background-color:#bebebe;border:1px outset #808080;">Khách hàng</td><td style="background-color:#bebebe;border:1px outset #808080;">Số lượng</td><td style="background-color:#bebebe;border:1px outset #808080;">Giao dịch</td><td style="background-color:#bebebe;border:1px outset #808080;">Thời gian</td></tr>
                    @foreach (var row in trandata)
                    {
                        <tr><td><a>@row["TAX_ID"]</a></td><td>@row["PROD_NAME"]</td><td>@row["CUST_NAME"]</td><td>@row["UNIT_AMOUNT"]</td><td>@row["TRANSACTION"]</td><td>@row["TIMESTAMP"]</td></tr>
                    }
                    
                </table>
            </div>
        </div>

        <div style="clear:left;text-align:left;margin-top:10px;padding:2px;" class="obj02 backbox">
            <div style="font-weight: bold;">
            Danh sách khach hàng phát sinh nợ/có
            </div>
            @{
                var cust = ViewData["Customers"] as DbFetchOutData;
                var custdata = cust.Data;
            }
            <div style="background-color:#fff; padding:2px;">
                <table border=1 width="100%">
                    <tr><td style="background-color:#bebebe;border:1px outset #808080;">Tên Khách Hàng</td><td style="background-color:#bebebe;border:1px outset #808080;">Mã số thuế</td><td style="background-color:#bebebe;border:1px outset #808080;">Nợ</td><td style="background-color:#bebebe;border:1px outset #808080;">Thiếu</td><td style="background-color:#bebebe;border:1px outset #808080;">Chi tiết</td></tr>
                    @foreach (var row in custdata)
                    {
                        <tr><td>@row["CUST_NAME"]</td><td>@row["CUST_TAX"]</td><td>0</td><td>0</td><td><a>Chi tiết</a></td></tr>
                    }
                    
                </table>
            </div>
        </div>
    </div>
    <div style="float:left; width:29%;text-align:left;margin-left:5px;height:500px;padding:2px;" class="backbox">
        <div style="font-weight: bold;">
        Các mặt hàng
        </div>
        @{
            var prod = ViewData["Products"] as DbFetchOutData;
            var proDT = prod.Data;
        }
        <div style="background-color:#fff; padding:2px;height:470px;">
        @foreach (var row in proDT)
        {
            <div>
                <table border=0 width="100%" cellpadding=0 cellspacing=0>
                    <tr><td>@row["PROD_NAME"]</td><td>@row["PROD_AMOUNT"] @row["PROD_UNIT"]</td></tr>
                </table>
            </div>
        }
        </div> 
    </div>
</div>
<script src="~/js/viewportchecker.js"></script> 
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('.obj01').addClass("hidden").viewportChecker({
            classToAdd: 'visible animated fadeInDown', // Class to add to the elements when they are visible
            offset: 100    
        }); 
        jQuery('.obj02').addClass("hidden").viewportChecker({
            classToAdd: 'visible animated bounceInUp', // Class to add to the elements when they are visible
            offset: 100    
        }); 
        jQuery('.obj03').addClass("hidden").viewportChecker({
            classToAdd: 'visible animated bounceInLeft', // Class to add to the elements when they are visible
            offset: 100    
        });
    });            
</script>