@using warehouseCMS.Data
@{
    ViewData["Title"] = "Mặt hàng";
}
@{
    var row = ViewData["Products"] as DbFetchOutData;
    var prod = row.Data[0];
}
<div class="qtBox2">
    <div class="qtBoxTitle">Cập nhật sản phẩm</div>
    <div class="qtBoxContent2">
        <form method = "post" asp-controller = "WareHouse" asp-action = "ProductUpdate" autocomplete="off" onsubmit="return validatePro()">
            <div class="qtBoxNew obj01 animated zoomIn">
                <div class="qtTitle2">Thông tin sản phẩm</div>
                <div class="qtBoxContent2">
                    <input type="hidden" id="ProdID" name ="proId" value="@prod["PROD_ID"]">
                <table border=0 cellpadding=0 cellspacing=0 height="100%" width="100%">
                    <tr>
                        <td style="height:23px;width:150px;">Tên sản phẩm:</td>
                        <td><input type="text" id="ProdName" name ="ProdName" value="@prod["PROD_NAME"]" placeholder="Nhập tên sản phảm.." autocomplete="off"></td>
                    </tr>
                    <tr>
                        <td style="height:23px;width:150px;">Mô tả:</td>
                        <td><input type="text" id="ProdDesc" name ="ProdDesc" value="@prod["PROD_DESC"]" placeholder="Mô tả sản phẩm.." autocomplete="off"></td>
                    </tr>
                    <tr>
                        <td style="height:23px;width:150px;">Đơn vị tính:</td>
                        <td><select name="ProdIUnit">
                            
                            <option value='kg' @{if(@prod["PROD_UNIT"] == "kg"){ " " + selected + " " } }>Kilogram</option>
                            <option value='tan' @{if(@prod["PROD_UNIT"] == "tan"){ " " + selected + " " } }>Tấn</option>
                            <option value='ta' @{if(@prod["PROD_UNIT"] == "ta"){ " " + selected + " " } }>Tạ</option>
                            <option value='yen' @{if(@prod["PROD_UNIT"] == "yen"){ " " + selected + " " } }>Yến</option>
                            <option value='bao' @{if(@prod["PROD_UNIT"] == "bao"){ " " + selected + " " } }>Bao</option>
                            <option value='hop' @{if(@prod["PROD_UNIT"] == "hop"){ " " + selected + " " } }>Hộp</option>
                            <option value='thung' @{if(@prod["PROD_UNIT"] == "thung"){ " " + selected + " " } }>Thùng</option>
                            <option value='con' @{if(@prod["PROD_UNIT"] == "con"){ " " + selected + " " } }>Con</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td style="height:23px;width:150px;">Giá:</td>
                        <td>
                            <input type="text" id="ProdPricetmp" value="@prod["PROD_UNIT_PRICE"]" placeholder="Giá..." autocomplete="off" >
                            <script>document.getElementById("ProdPricetmp").value = number_format("@prod["PROD_UNIT_PRICE"]");</script>
                            <input type="hidden" id="ProdPrice" name ="ProdPrice">
                            <script type="text/javascript">$("#ProdPricetmp").maskMoney({thousands:',', allowZero: true, precision: 0, allowEmpty:false, suffix:""});</script>
                        </td>
                    </tr>
                </table>
                <div style="text-align:right;">
                        <input type="submit" class="qtbutton" value="Cập nhật" style="width:150px;margin-top:3px;">
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    /*jQuery(document).ready(function() {
        jQuery('.obj01').addClass("hidden").viewportChecker({
            classToAdd: 'visible animated zoomIn', // Class to add to the elements when they are visible
            offset: 100    
        });
    });  */        
</script>
